.logo {
    width: 49px;
}

.logo:hover {
    -webkit-animation: spin 1s infinite linear;
    cursor:none;
}

@-webkit-keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    50% {-webkit-transform: rotate(150deg);}
    100% {-webkit-transform: rotate(360deg);}   
}